<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 
      style="color:RGB(120,120,120); margin-bottom:4px;">
      {{job['title']}}
    </h4>
    {% if 'location' in job %}
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% endif %}
    
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-2 padding-right:16px">
    <a href="mailto:alphadelta0059@gmail.com?subject=Apply%20for%20{{job['title']}}&body=My%20name%20%3A%20%3CYour%20name%20here%3E%0D%0AMy%20requirement%20%3A%20%3CType%20here%3E%0D%0AMy%20contact%20%3A%20%3CYour%20contact%20here%3E" type="button" class="btn btn-outline-primary float-right align-middle" >Apply</a>
  </div>
  
</div>

